<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="404.html" responseMode="File" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Permissions-Policy" value="camera=(), microphone=(), geolocation=()" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' https://www.googletagmanager.com https://www.google-analytics.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src https://fonts.gstatic.com; img-src 'self' data: https://www.google-analytics.com; frame-src https://www.google.com https://maps.google.com; connect-src 'self' https://*.google-analytics.com https://www.googletagmanager.com" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="https-zorla" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://timsantarim.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="www-kaldir" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\." />
          </conditions>
          <action type="Redirect" url="https://timsantarim.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="eski-index" stopProcessing="true">
          <match url="^index\.html$" />
          <action type="Redirect" url="/" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="eski-about" stopProcessing="true">
          <match url="^about\.html$" />
          <action type="Redirect" url="/hakkimizda/" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="eski-contact" stopProcessing="true">
          <match url="^contact\.html$" />
          <action type="Redirect" url="/iletisim/" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="eski-cats" stopProcessing="true">
          <match url="^cats\.html$" />
          <action type="Redirect" url="/urunler/" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="eski-urun-sayfalari" stopProcessing="true">
          <match url="^(product-details|products-brand-cats|products)\.html$" />
          <action type="Redirect" url="/urunler/" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <location path="images">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="css">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="data">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
